.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background-image: url("../public/img/bgGame.png");
  background-size: contain;
  background-position: center;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 900;
  padding: 30px 0;
}

.game-content {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.dashboard {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.dashboard_option {
  color:#d03c48;
}

.dashboard_score {
  color:#27a641;
}

.dashboard_game-number {
  color:#0478fd;
}

button {
  font-weight: 900;
  padding: 8px 14px;
  margin: 12px 0;
  background-color: #27a641;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}